*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
 }
 
 html {
     font-size: 62.5%;
 }
 
 body{
    font-family:'Cooper Black';
 }

 .container {
     background-color: #fff;
 }
 
 .container nav {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     padding: 15px;
     background-color: #fff;
     margin-bottom: 30px;
     color: #333;
 }
 .info input {
    padding: 1rem;
    width: 100%;
    background-color: #adb5bd;
    border: none;
    outline: none;
    color: #000;
    text-transform: uppercase ;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.info a{
   background-color: #adb5bd;
}

.info input {
   cursor: pointer;
   background-color: #adb5bd;
   border: none;
}

.info input:hover{
    background-color: #adb5bd;
    transition: all .3s;
}
 
 .nav-cart{
     display: none;
 }
 
 .container nav button {
     display: none;
 }
 
 .container nav i:hover .buy-cart > button {
     display: block;
     width: 90%;
     padding: 1rem;
     margin: 10px auto;
     background-color: transparent;
     border: solid thin #e1e1e1;
     color: #494848;
     cursor: pointer;
 }
 
 .container nav i:hover .buy-cart > button:hover {
     border: solid thin #494848;
     transition: all .4s;
 }
 
 .container nav i {
     font-size: 3rem;
     cursor: pointer;
 }
 
 h1 {
 text-align: center;
 margin: 20px;
 font-size: 3rem;
 color: #222;
 }
 
 .grid {
     display: grid;
     max-width: 1100px;
     justify-content: center;
     margin: auto;
     gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(280px,200px));
     padding-bottom: 50px;
 }
 
 .items {
     background-color: #fff;
     border: solid thin#e1e1e1;
 }
 
 .items img {
     width: 100%;
     height: 270px;
 }
 
 .info {
     padding: 15px;
 }
 
 .info h3{
     font-size: 1.6rem;
 }
 
 .imfo p {
     font-size: 1.8rem;
 }
 
 
 .precio {
     display: flex;
     justify-content: space-between;
     font-weight: bolder;
 
 }
 
 .precio p {
     font-size: 1.8rem;
 }
 
 .info h3,
 .info p {
     color: #222;
     margin: 10px;
 }
 
 .info button {
     padding: 1rem;
     width: 100%;
     background-color: #adb5bd;
     border: none;
     outline: none;
     color: #000;
     text-transform: uppercase ;
     font-size: 1.1rem;
     border-radius: 5px;
     cursor: pointer;
     margin-bottom: 5px;
 }
 
 .info button:hover{
     background-color: #adb5bd;
     transition: all .3s;
 }
 
 /*Acomodar los elementos de nuestro carrito de compras*/
 .lista_de_productos div {
     display: none;
     text-align: center;
     padding: 10px 0 0 0;
     border-top: solid thin gray;
 }
 
 .container nav i:hover .buy-cart > .lista_de_productos div {
     display: flex;
 }
 
 .lista_de_productos img {
     width: 100px;   
 }
 
 .lista_de_productos p {
     width: 300px;
     font-size: 1.3rem;
 }
 
 .lista_de_productos p:nth-child(4) {
     padding-left: 40px ;
 }
 
 .lista_de_productos p:last-child span {
     background-color: red;
     border-radius: 50%;
     padding: 5px 10px;
     color: #fff;
 }

 .btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100px;
}
.btn-wsp:hover{
text-decoration: none;
color: #0df053;
}

.btn-wsp img{
    width: 50px;
    height: 50px;
}
